@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

/* Navbar Section */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: rgb(193, 193, 6);
}

header h2{
    padding-left: 10px;
}

h2,li,a{
    font-family: Montserrat, sans-serif;
    background-color: rgb(193, 118, 6);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    background-color: rgb(193, 118, 6);
}

nav{
    justify-content:center;
    background-color: rgb(193, 118, 6);
}

.menu{
    list-style: none;
    background-color: rgb(193, 118, 6);
}

.menu li{
    display: inline-block;
    padding-right: 10px;
}

.menu li a{
    color: black;
    transition: all ease 0.7s;
}

.menu li a:hover{
    opacity: 0.6;
}

/* carousel */

.container{
    padding: 30px;
}

.slide-wrapper{
    position: relative;
    max-width: 700px;
    margin: 0 auto;

}

.slider{
    display: flex;
    overflow-x: auto;
    aspect-ratio: 16/9;
    scroll-snap-type: x mandatory;
    box-shadow: 0px 0px 60px 40px black inset;
    border-radius: 5px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

/* Menu */

.today-menu {
    padding: 30px;
}

.today-menu h2 {
    text-align: center;
}

.cards {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.card-item {
    padding: 5px;
    border: 2px solid black;
    transition: transform 2s ease-in-out; 
    cursor: pointer; 
}

.card-item img {
    width: 100%;
    height: auto;
}

.card-item h4 {
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card-item:nth-child(1):hover {
    transform: rotate(360deg); /* Apply a different transform for the first card */
}

.card-item:nth-child(2):hover {
    transform: rotate3d(0, 1, 0, 360deg); /* Apply a different 3D rotation for the second card */
}

.card-item:nth-child(3):hover {
    transform: rotate(-360deg); /* Apply a different transform for the first card */
}

/* customer say */
